@model project6.Models.User

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card" style="max-width: 450px; margin: auto; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); padding: 20px;">
        <div class="card-body">
            <h4 class="text-center mb-4">Log in</h4>

            <div class="form-group">
                @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe">
                <label class="form-check-label" for="rememberMe">Keep me logged in</label>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Log in now" class="btn btn-primary btn-block" />
            </div>

            <div class="form-group d-flex justify-content-between">

                <div class="text-center" style="margin-top: 20px;">
                    @Html.ActionLink("Create new account", "Register", null, new { @class = "text-muted" })
                </div>

                <div class="text-center" style="margin-top: 20px;">
                    @Html.ActionLink("Forgot password", "", null, new { @class = "text-muted" })
                </div>
                
            </div>

            <hr>

            <div class="text-center">
                <p>Or sign in with</p>
                <a href="#" class="btn btn-outline-primary btn-icon">
                    <i class="fab fa-google"></i> Google
                </a>
                <a href="#" class="btn btn-outline-primary btn-icon">
                    <i class="fab fa-facebook-f"></i> Facebook
                </a>
                <a href="#" class="btn btn-outline-primary btn-icon">
                    <i class="fab fa-twitter"></i> Twitter
                </a>
            </div>
        </div>
    </div>
}

